<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bs.board0.mappers.BoardMapper">

  <!-- - file (resultMap) -->
  <resultMap id="fileListMap" type="org.bs.board0.dto.BoardDTO">
      <id property="tno" column="tno"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="writer" column="writer"/>
      <result property="regDate" column="regDate"/>
      <result property="updateDate" column="updateDate"/>
      <collection property="fnames" resultMap="fileMap"/>
  </resultMap>

  <resultMap id="fileMap" type="string">
      <result property="fnames" column="fnames"/>
  </resultMap>
  <!-- file (resultMap) -->

<!-- list -->
<select id="boardList" resultMap="fileListMap">

select b.tno, b.title, b.content, b.writer, b.regDate, concat(bi.uuid, "_", bi.fname) as fnames
from tbl_board b 
left outer join tbl_board_img bi on b.tno = bi.tno and bi.ord= 0
where b.tno > 0
   <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" or ">
          <if test='type == "t"'>
            b.title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            b.content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            b.writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
order by b.tno desc
limit #{skip} , #{size}

</select>

<!-- insert -->
<insert id="boardInsert" parameterType="org.bs.board0.dto.BoardDTO">

insert into tbl_board (title,content,writer) value (#{title},#{content},#{writer})
        <selectKey resultType="long" keyProperty="tno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

</insert>

<!-- read -->
<select id="boardRead" resultMap="fileListMap">

select b.tno, b.title, b.content, b.writer, b.regDate, b.updateDate, concat(bi.uuid, "_", bi.fname) as fnames
from tbl_board b 
left outer join tbl_board_img bi on b.tno = bi.tno
where b.tno = #{tno}

</select>

<!-- update -->
<update id="boardUpdate" parameterType="org.bs.board0.dto.BoardDTO">

update tbl_board set title=#{title} , content=#{content} , writer=#{writer} , updateDate = now()
where tno=#{tno}

</update>

<delete id="boardDelete">

delete from tbl_board where tno=#{tno}

</delete>

<!-- total -->
<select id="total">

    select count(*)
    from
    (select tno from tbl_board b
    where tno > 0
       <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" or ">
          <if test='type == "t"'>
            b.title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            b.content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            b.writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
    limit #{countEnd}) board

</select>


</mapper> 
