<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bs.board0.mappers.MemberMapper">

<!-- MemberRegist -->
<insert id="memberRegist" parameterType="org.bs.board0.dto.MemberRegistDTO">
insert into tbl_member (email, mpw, mname) values (#{email}, #{mpw}, #{mname})
</insert>

<!-- MemberRole -->
<insert id="memberRoleRegist" parameterType="org.bs.board0.dto.MemberRoleRegistDTO">
insert into tbl_member_role (email, rolename) values (#{email}, #{rolename})
</insert>


</mapper>