<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/boardLayout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>

<body>
    <div class="container-fluid pt-4 px-4" layout:fragment="content">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h2 class="mb-4">게시판 조회</h2>
                <form method="post" action="/board/delete/" class="acf">
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">번호</label>
                        <input type="text" class="form-control" id="boardTno" th:value="${boardRead.tno}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="boardTitle" th:value="${boardRead.title}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardContent" class="form-label">내용</label>
                        <input type="text" class="form-control" id="boardContent" th:value="${boardRead.content}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardWriter" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="boardWriter" th:value="${boardRead.writer}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">작성일</label>
                        <input type="text" class="form-control" id="boardTitle" th:value="${boardRead.regDate}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">수정일</label>
                        <input type="text" class="form-control" id="boardTitle" th:value="${boardRead.updateDate}"
                            readonly>
                    </div>
                    <div class="button_wrap">
                        <button class="btn btn-primary modifyBtn">수정</button>
                        <button class="btn btn-primary deleteBtn">삭제</button>
                        <a href="/board/list" class="btn btn-danger">목록</a>
                    </div>
                </form>

            </div>

            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="/js/reply.js"></script>

        </div>

        <!-- 댓글 등록창 -->
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="mb-0">Reply Register</h6>
                </div>
                <div class="mb-3 replyRegister">
                    <input type="hidden" name="tno" th:value="${boardRead.tno}">
                    <input type="text" name="replyer" value="beomsu" placeholder="작성자를 입력해주세요">
                    <input type="text" name="reply" class="form-control" placeholder="내용을 입력해주세요">
                </div>
                <div class="button_wrap">
                    <button class="btn btn-primary btnRegister">Reply Register</button>
                </div>
            </div>

            <!-- 댓글 화면 창 -->
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h6 class="mb-0">Reply</h6>
                    </div>
                    <div class="replyWrap"></div>
                    <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
                        <!--/* paging */-->
                        <ul class="btn-group me-2 paging replyPaging" role="group" aria-label="First group"></ul>
                    </div>
                </div>
            </div>

            <!-- 대댓글 생성 모달-->
            <div class="modal replyModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            Reply Register
                        </div>
                        <div class="modal-body replyRegister2">
                            <input type="hidden" name="tno" th:value="${boardRead.tno}">
                            <input type="hidden" name="replyer" value="beomsu">
                            <input type="text" name="reply" class="form-control">
                            <div class="replyGno"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btnRegister2">Reply Register</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Close
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal replyModModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            Reply Modify
                        </div>
                        <div class="modal-body replyModify">
                            <input type="hidden" name="replyer" value="beomsu">
                            <input type="text" name="reply" class="form-control">
                            <div class="replyCategory"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btnReplyModify">Reply Modify</button>
                            <button class="btn btn-danger btnDelete">Reply Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                Close
                            </button>
                        </div>
                    </div>
                </div>


            </div>


            <script layout:fragment="script" th:inline="javascript">

                // 태그 객체 선언

                const actionForm = document.querySelector(".acf")
                const modify1 = document.querySelector(".modifyBtn")
                const delete1 = document.querySelector(".deleteBtn")

                // 댓글 //////////////////////////

                // 등록
                const replyRegist = document.querySelector(".replyRegister")
                const btnRegist = document.querySelector(".btnRegister")
                const replyWrap = document.querySelector(".replyWrap")

                const replyModal = new bootstrap.Modal(document.querySelector(".replyModal"))
                const replyRegist2 = document.querySelector(".replyRegister2")
                const replyGno = replyRegist2.querySelector(".replyGno")
                const btnRegist2 = document.querySelector(".btnRegister2")

                const replyModal2 = new bootstrap.Modal(document.querySelector(".replyModModal"))
                const replyModify = document.querySelector(".replyModify")
                const replyCategory = document.querySelector(".replyCategory")
                const btnModify = document.querySelector(".btnReplyModify")
                const btnDelete = document.querySelector(".btnDelete")


                // 구조분해할당
                const { tno } = [[${ boardRead }]]

                console.log(tno)

                // 수정
                modify1.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    actionForm.setAttribute("action", `/board/modify/${tno}`)
                    actionForm.setAttribute("method", `get`)
                    actionForm.submit()


                }, false)

                // 삭제
                delete1.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    actionForm.setAttribute("action", `/board/delete/${tno}`)
                    actionForm.setAttribute("method", `post`)
                    actionForm.submit()


                }, false)

                ////////////////////// 댓글

                // 댓글 등록
                btnRegist.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    // value 값 가져오기
                    const tno = replyRegist.querySelector("input[name=tno]").value
                    const reply = replyRegist.querySelector("input[name=reply]").value
                    const replyer = replyRegist.querySelector("input[name=replyer]").value

                    console.log(tno, reply, replyer)

                    // 객체로 묶기
                    const replyData = { tno, reply, replyer }

                    // axios 통신
                    replyPostRegist(replyData).then(data => {
                        alert(data.result + "번이 등록되었습니다.")
                        replyRegist.querySelector("input[name=reply]").value = ""
                        getListDefault()
                    }, false)

                }, false)

                ///////////////////////////////// 대댓글

                //대댓글 모달 보여주기
                replyWrap.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    //target 찾기
                    const target = e.target
                    const result = target.getAttribute("data-reply")
                    const gno = target.getAttribute("data-gno")
                    //console.log(target.getAttribute("data-reply"))

                    if (result === "reply") {
                        replyModal.show()
                        replyRegist2.querySelector("input[name=reply]").value = ""
                        replyGno.innerHTML = `<input type="hidden" name="gno" value="${gno}">`
                    }
                }, false)

                // 대댓글 생성
                btnRegist2.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    // value 값 가져오기
                    const tno = replyRegist2.querySelector("input[name=tno]").value
                    const reply = replyRegist2.querySelector("input[name=reply]").value
                    const replyer = replyRegist2.querySelector("input[name=replyer]").value
                    const gno = replyRegist2.querySelector("input[name=gno]").value

                    // 객체로 묶기
                    const replyData = { tno, replyer, reply, gno }

                    console.log(replyData)

                    // 댓글 등록 api 사용
                    replyPostRegist(replyData).then(data => {
                        alert(data.result + "번 댓글이 등록되었습니다.")
                        getListDefault()
                    })


                }, false)


                // 수정 모달 창
                replyWrap.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    // target
                    const target = e.target

                    // rno값 가져오기
                    const rno = target.getAttribute("data-rno")
                    console.log(rno)

                    // console.log(target)

                    replyModal2.show()

                    // btnModify에 rno값 설정
                    btnModify.setAttribute("data-rno", rno)
                    btnDelete.setAttribute("data-rno", rno)
                    


                }, false)

                // 댓글 수정
                btnModify.addEventListener("click", (e) => {

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    // target 찾기
                    const target = e.target

                    // rno값 가져오기
                    const rno = target.getAttribute("data-rno")
                    console.log(rno)

                    const reply = replyModify.querySelector("input[name=reply]").value

                    console.log(reply)

                    // 객체로 묶기
                    const replyData = {rno, reply}

                    console.log(replyData)

                    // 댓글 수정 api사용
                    replyPutModify(replyData).then(data => {
                        alert("댓글이 수정되었습니다.")
                        getListDefault()
                        replyModal2.hide()
                    })

                }, false)

                // 댓글 삭제
                btnDelete.addEventListener("click", (e)=>{

                    // event 방지
                    e.preventDefault()
                    e.stopPropagation()

                    // target
                    const target = e.target

                    // rno 값 찾기
                    const rno = target.getAttribute("data-rno")
                    console.log(rno)

                    // 댓글 삭제 api 사용
                    replyDelete(rno).then(data => {
                        alert("삭제되었습니다.")
                        getListDefault()
                        replyModal2.hide()
                    })


                }, false)


                // 댓글 페이징 처리



                // 댓글 list 불러오기
                getListDefault()

            </script>

</body>

</html>