<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/boardLayout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>

<body>
    <div class="container-fluid pt-4 px-4" layout:fragment="content">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h2 class="mb-4">게시판 조회</h2>
                <form method="post" action="/board/delete/" class="acf">
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">번호</label>
                        <input type="text" class="form-control" id="boardTno" th:value="${boardRead.tno}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="boardTitle" th:value="${boardRead.title}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardContent" class="form-label">내용</label>
                        <input type="text" class="form-control" id="boardContent" th:value="${boardRead.content}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardWriter" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="boardWriter" th:value="${boardRead.writer}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">작성일</label>
                        <input type="text" class="form-control" id="boardTitle" th:value="${boardRead.regDate}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">수정일</label>
                        <input type="text" class="form-control" id="boardTitle" th:value="${boardRead.updateDate}"
                            readonly>
                    </div>
                    <div class="button_wrap">
                        <button class="btn btn-primary modifyBtn">수정</button>
                        <button class="btn btn-primary deleteBtn">삭제</button>
                        <a href="/board/list" class="btn btn-danger">목록</a>
                    </div>
                </form>

            </div>

            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="/js/reply.js"></script>

        </div>

        <!-- 댓글 등록창 -->
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="mb-0">Reply Register</h6>
                </div>
                <div class="mb-3 replyRegister">
                    <input type="hidden" name="tno" th:value="${boardRead.tno}">
                    <input type="text" name="replyer" placeholder="작성자를 입력해주세요">
                    <input type="text" name="reply" class="form-control" placeholder="내용을 입력해주세요">
                </div>
                <div class="button_wrap">
                    <button class="btn btn-primary btnRegister">Reply Register</button>
                </div>
            </div>

            <!-- 댓글 화면 창 -->
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h6 class="mb-0">Reply</h6>
                    </div>
                    <div class="replyWrap"></div>
                    <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
                        <!--/* paging */-->
                        <ul class="btn-group me-2 paging replyPaging" role="group" aria-label="First group"></ul>
                    </div>
                </div>
            </div>



        </div>


        <script layout:fragment="script" th:inline="javascript">

            // 태그 객체 선언

            const actionForm = document.querySelector(".acf")
            const modify1 = document.querySelector(".modifyBtn")
            const delete1 = document.querySelector(".deleteBtn")

            // 댓글 //////////////////////////

            // 등록
            const replyRegist = document.querySelector(".replyRegister")
            const btnRegist = document.querySelector(".btnRegister")
            const replyWrap = document.querySelector(".replyWrap")

            const { tno } = [[${ boardRead }]]

            console.log(tno)

            // 수정
            modify1.addEventListener("click", (e) => {

                e.preventDefault()
                e.stopPropagation()

                actionForm.setAttribute("action", `/board/modify/${tno}`)
                actionForm.setAttribute("method", `get`)
                actionForm.submit()


            }, false)

            // 삭제
            delete1.addEventListener("click", (e) => {

                e.preventDefault()
                e.stopPropagation()

                actionForm.setAttribute("action", `/board/delete/${tno}`)
                actionForm.setAttribute("method", `post`)
                actionForm.submit()


            }, false)

            // 댓글 등록
            btnRegist.addEventListener("click", (e) => {

                e.preventDefault()
                e.stopPropagation()

                // value 값 가져오기
                const tno = replyRegist.querySelector("input[name=tno]").value
                const reply = replyRegist.querySelector("input[name=reply]").value
                const replyer = replyRegist.querySelector("input[name=replyer]").value

                console.log(tno, reply, replyer)

                // 객체로 생성
                const replyData = { tno, reply, replyer }

                // axios 통신
                replyPostRegist(replyData).then(data => {
                    alert(data.result + "번이 등록되었습니다.")
                    replyRegist.querySelector("input[name=reply]").value = ""
                    getListDefault()
                }, false)

            }, false)

            // 대댓글

        </script>

</body>

</html>