<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/boardLayout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regist</title>
</head>

<body>
    <div class="container-fluid pt-4 px-4" layout:fragment="content">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h2 class="mb-4">게시판 등록</h2>
                <form method="post" action="/board/regist" class="actionForm">
                    <div class="mb-3">
                        <label for="boardTitle" class="form-label">제목</label>
                        <input type="text" name="title" class="form-control" id="boardTitle">
                    </div>
                    <div class="mb-3">
                        <label for="boardContent" class="form-label">내용</label>
                        <input type="text" name="content" class="form-control" id="boardContent">
                    </div>
                    <div class="mb-3">
                        <label for="boardWriter" class="form-label">작성자</label>
                        <input type="text" name="writer" class="form-control" id="boardWriter">
                    </div>

                    <div class="button_wrap">
                        <button type="submit" class="btn btn-primary reigstBtn">등록</button>
                        <a href="/board/list" class="btn btn-danger">취소</a>
                    </div>

                </form>

                <br>

                <!-- 파일업로드 -->
                <input class="uploadInput" type="file" name="upload" multiple>
                <button class="uploadBtn">UPLOAD</button>

                <!-- 파일 업로드 사진 출력 -->
                <ul class="uploadUL">

                </ul>
            </div>
        </div>
    </div>

    <script layout:fragment="script" th:inline="javascript">

        // 태그 객체 생성
        const uploadInput = document.querySelector(".uploadInput")
        const uploadBtn = document.querySelector(".uploadBtn")
        const uploadUL = document.querySelector(".uploadUL")
        const reigstBtn = document.querySelector(".reigstBtn")
        const actionForm = document.querySelector(".actionForm")

        // UPLOAD 버튼 클릭 시
        uploadBtn.addEventListener("click", (e) => {

            e.preventDefault()
            e.stopPropagation()

            console.dir(uploadInput.files)

            // 파일이 없을 시 return
            if (!uploadInput.files || uploadInput.files.length === 0) {
                return
            }

            // 폼데이터 생성
            const formData = new FormData()

            // 반복문 돌려서 formData에 값 대입
            for (let i = 0; i < uploadInput.files.length; i++) {

                // formData에 uploadInput.files[i] 의 값들을 추가
                formData.append("files", uploadInput.files[i])

            }

            console.dir(formData)

            // 헤더 생성- 헤더는 multipart/form-data 형식 (파일 업로드)
            const header = { headers: { "Content-Type": "multipart/form-data" } }

            // 비동기
            axios.post("http://localhost:8080/api/files/upload", formData, header).then(res => {
                const result = res.data
                console.log(result)
                showImages(result)

                // 파일 추가 후 비우기
                uploadInput.value = ''
            })

        }, false)

        // show uplaod Images
        const showImages = (arr) => {

            let str = ""

            // 반복문 돌려서 필요한 값 추출
            for (const uploadFile of arr) {

                // 구조 분해 할당
                const { fname, link, uuid } = uploadFile

                str += `
                <br>
                <li data-uuid='${uuid}' data-fname='${fname}'>
                    <div>
                        <a href='http://localhost/${uuid}_${fname}' target="_blank">
                        <img src='http://localhost/${link}'/>
                        </a>
                        <p>${fname} <button onclick="javascript:removeImage(event, '${uuid}', '${fname}')">x</button></p>
                    <div>   
                </li>`
            }

            // str을 uploadUL에 innerHTML
            uploadUL.innerHTML += str
        }

        // remove upload Image
        const removeImage = (e, uuid, fname) => {

            // 이벤트 방지
            e.preventDefault()
            e.stopPropagation()

            // closest 사용해서 li태그 찾기
            const liObj = e.target.closest("li")

            // liObj = uuid , fname
            console.log(liObj)

            // 비동기
            axios.delete(`http://localhost:8080/api/files/remove/${uuid}_${fname}`)

            // li태그 삭제
            liObj.remove()
        }

        // registBtn
        // 등록 버튼 눌렀을 시 파일 업로드 된 데이터까지 같이 전송
        reigstBtn.addEventListener("click", (e) => {
            e.preventDefault();
            e.stopPropagation();

            // li 태그 모두 찾아서 liArr 변수에 저장
            const liArr = uploadUL.querySelectorAll("li");

            // fnames 배열 생성
            const fnames = [];

            // 반복문 돌려서 fnames에 파일 저장
            for (let liObj of liArr) {
                const uuid = liObj.getAttribute("data-uuid");
                const fname = liObj.getAttribute("data-fname");
                console.log(uuid, fname);
                fnames.push(`${uuid}_${fname}`);
            }

            // fnames 값을 hidden input으로 추가
            const hiddenFnames = document.createElement("input");
            hiddenFnames.type = "hidden";
            hiddenFnames.name = "fnames";
            hiddenFnames.value = fnames.join(',');
            actionForm.appendChild(hiddenFnames);

            // Form 제출
            actionForm.submit();
        }, false);




    </script>


</body>

</html>